body {
    font-family: Vazirmatn, sans-serif;
}

pre{
    font-family: Vazirmatn, sans-serif;
    font-size: 1.1rem;
}

.primary-color{
    background-color: #161A30;
}

.secondary-color{
    background-color: #31304D;
}

.first-light{
    background-color: #B6BBC4;
}

.second-light{
    background-color: #F0ECE5;
}

#header{
    border-radius: 0 0 0 100px;
}

#profile{
    border-radius: 50%;
    border: 20px solid #31304D;
    position: absolute;
    left: 210px;
    top: -10px;
}