body {
    font-family: Vazirmatn, sans-serif;
    background-color: #B6BBC4;
}

pre{
    font-family: Vazirmatn, sans-serif;
    font-size: 1.1rem;
}

.primary-color{
    background-color: #161A30;
}

.secondary-color{
    background-color: #31304D;
}

.first-light{
    background-color: #B6BBC4;
}

.second-light{
    background-color: #F0ECE5;
}

#header{
    border-radius: 0 0 0 100px;
}

#profile{
    border-radius: 50%;
    border: 20px solid #31304D;
    position: absolute;
    left: 210px;
    top: -15px;
}
.glass{
    background-color: rgba(240, 236, 229, 0.37);
    backdrop-filter: blur(100%);
    border-radius: 20px;
    border: 1px solid #F0ECE5;
    color: #161A30;
}
.text-justify {
    text-align: justify;
}
.box{
    background-color: rgba(49, 48, 77, 0.71);
    backdrop-filter: blur(100%);
    border-radius: 20px;
    border: 4px dashed #161A30;
    color: #161A30;
}